    fastapi==0.104.1

    mangum==0.17.0 

    python-multipart==0.0.6

    pydantic

    pydantic-settings

    pydicom

    numpy

    Pillow

    inference-sdk 

    pylibjpeg>=2.0

    pylibjpeg-libjpeg>=2.1
